#leftSidebar, #rightSidebar{
    height: 880px;
}

#visualizationTitle {
    height: 20px;
    text-align: center;
}

#visualizationWrapper {
    height: 800px;
}

#leftSidebar .well, #rightSidebar .well, .visualization {
    height: 100%;
}

footer {
    text-align: center;
}

#visualization {
    width: 100%;
    height: 100%;
}