#leftSidebar, #rightSidebar{
    height: 100%;
}

#visualizationTitle {
    height: 20px;
    text-align: center;
}

#visualizationWrapper {
    height: 600px;
    text-align: center;
}

.visualization {
    height: 100%;
}

footer {
    text-align: center;
}


#visualization {
    width: 100%;
    height: 100%;
}

#colorDataSetSelector, #sizeDataSetSelector {
    width: 100%;
    margin-right:20px;
}