svg {
    font: 10px sans-serif;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #ddd;
    stroke-width: .5px;
}

.axis path {
    display: none;
}

rect.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

rect.frame {
    fill: #fff;
    fill-opacity: .7;
    stroke: #aaa;
}

.splomCircle {
    fill: #ccc;
    fill-opacity: .5;
}

.cell text {
    pointer-events: none;
}

.rack1 {
    fill: #ff7f0e;
}

.rack2 {
    fill: #d62728;
}

.rack3 {
    fill: #2ca02c;
}

.rack4 {
    fill: #1f77b4;
}