.treeVisualizationNode circle {
    stroke: steelblue;
    stroke-width: 1.5px;
}

.treeVisualizationNode {
    font: 10px sans-serif;
}

.treeVisualizationLink {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}